[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
Jame-Gam.slnx
PPv2URPConverters.csproj
Unity.2D.Sprite.AIIntegration.Editor.csproj
Unity.2D.Sprite.Editor.csproj
Unity.2D.Tilemap.Editor.csproj
Unity.InternalAPIEngineBridge.004.csproj
Unity.Multiplayer.Center.Common.csproj
Unity.Multiplayer.Center.Editor.csproj
Unity.Rendering.LightTransport.Editor.csproj
Unity.RenderPipeline.Universal.ShaderLibrary.csproj
Unity.RenderPipelines.Core.Editor.csproj
Unity.RenderPipelines.Core.Editor.Shared.csproj
Unity.RenderPipelines.Core.Runtime.csproj
Unity.RenderPipelines.Core.Runtime.Shared.csproj
Unity.RenderPipelines.Core.ShaderLibrary.csproj
Unity.RenderPipelines.GPUDriven.Runtime.csproj
Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
Unity.RenderPipelines.Universal.2D.Editor.Overrides.csproj
Unity.RenderPipelines.Universal.2D.Runtime.csproj
Unity.RenderPipelines.Universal.Config.Runtime.csproj
Unity.RenderPipelines.Universal.Editor.csproj
Unity.RenderPipelines.Universal.Runtime.csproj
Unity.RenderPipelines.Universal.Shaders.csproj
Unity.ShaderGraph.Editor.csproj
Unity.ShaderGraph.Utilities.csproj
Unity.TextMeshPro.csproj
Unity.TextMeshPro.Editor.csproj
Unity.UnifiedRayTracing.Runtime.csproj
UnityEditor.TestRunner.csproj
UnityEditor.UI.csproj
UnityEngine.TestRunner.csproj
UnityEngine.UI.csproj
